* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 360px;
  background: #020617;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,.7);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: white;
}

.password-box {
  display: flex;
  gap: 6px;
}

.password-box button {
  width: 45px;
  background: #334155;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.main-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background: #38bdf8;
  cursor: pointer;
}

.main-btn:hover {
  background: #0ea5e9;
}

#qrcode {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  flex: 1;
  padding: 10px;
  background: #334155;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.actions button:hover {
  background: #475569;
}

footer {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #94a3b8;
}

